.App {
  text-align: center;
}

li {
  cursor: pointer;
}

.flex-item {
  flex-basis: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 200ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modalStyle {
  /* stays empty */
}

#modalForm {
  background-color: #272b30;
  padding: 2rem;
  display: flex;
  align-items: center;
  border: 2px solid whitesmoke;
}

i {
  padding: 0 8px;
  cursor: pointer;
}

.fa-caret-left {
  visibility: hidden;
}

#delete-button {
  visibility: hidden;
}
